body {
  font-family: sans-serif;
}
p {
  color: darkslategrey;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: brown;
}
.chat-button {
  color: white;
  background: orangered;
  border: none;
  padding: 5px 20px;
  transition: background 0.1s ease-in-out;
}
.chat-button:hover {
  cursor: pointer;
  background: orange;
}
#chat {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background: white;
  width: 250px;
  box-shadow: -3px 0px 10px -3px silver;
  border-left: 1px solid #CCCCCC;
}
